*{
  box-sizing: border-box;
}

body{
  margin:0px;
  padding:0px;
}
#vsebina{
  width:1020px;
  border: 1px solid black;
  padding:20px;
  margin:auto;
  text-align:center;
  display:flex; /*pozicioniranje elemntov */
  flex-direction: :column;  /*pozicioniranje elemntov */
  justify-content: center;  /*pozicioniranje elemntov */
  align-items: center;  /*pozicioniranje elemntov */
}
img{
  width:60%;
}

/*
Media query

@media screen and (max-width:1040px){
  #vsebina {
    width:800px;
  }
}

@media screen and (max-width:820px){
  #vsebina{
    border: none;
    width:100%;
    padding:0px;
  }
}
@media screen and (max-width: 820px){
  #vsebina img{
    width:100%;
  }
}
*/